@import "tailwindcss";

:root {
  --background: #080811;
  --foreground: #ffffff;
  --primary-color: #9b4bc2;
  --secondary-color: #0b0812;
  --border-color: rgba(128, 128, 128, 0.5);
  --slide-in-offset: 100%;
  --gradient-primary: linear-gradient(to right, #080811, #9b4bc2);
}

@media (width < 48rem /* 768px */) {
  :root {
    --slide-in-offset: 0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-border-color: var(--border-color);
  --color-primary-gradient: var(--gradient-primary);
  --font-inter: var(--font-inter);
}

.input-label {
  @apply text-sm font-medium;
}

.input-container {
  @apply flex flex-col gap-2;
}

.form-input {
  @apply w-full rounded-xl p-4 outline-0 bg-black/20 ring-2 ring-border-color focus:ring-2 focus:ring-[#9B4BC2] transition duration-200;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inter, Arial, Helvetica, sans-serif;
}

.form-wrapper,
.form-wrapper2 {
  @apply md:rounded-4xl md:border overflow-clip relative md:bg-gray-700/10 md:px-10 md:py-12 px-0 pt-[10%] border-border-color;
}

.form-wrapper::after {
  background: var(--primary-color);
  animation-delay: 0.5s !important;
  height: 4px;
}

.form-wrapper2::after {
  background: linear-gradient(
    to right,
    transparent,
    color-mix(in srgb, var(--primary-color) 50%, transparent),
    transparent
  );
  height: 2px;
}

.form-wrapper::after,
.form-wrapper2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  animation: grow 2s forwards;
}

@media (width < 48rem /* 768px */) {
  .form-wrapper::after {
    content: none;
  }
}

@media (width < 48rem /* 768px */) {
  .form-wrapper2::after {
    content: none;
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.button-primary {
  @apply w-full rounded-xl bg-primary p-4 text-white font-medium hover:bg-primary/90 transition duration-200 cursor-pointer shadow-[0_10px_20px_2px_color-mix(in_srgb,var(--primary-color)_20%,transparent)];
}

.otp-input {
  @apply border-2 border-border-color rounded-lg md:size-13 size-12 text-center text-xl font-bold focus:border-primary outline-0 transition-colors duration-300;
}

.input-error-text {
  @apply text-red-500 text-sm mt-1;
}
